[2016-04-24 03:13] clrvynt opened #1 "Dates are incorrect"
I'm not sure if this is actively maintained, but running the project cloned out of github shows the wrong dates ..

For example, running it today (April 23rd) highlights March 24th as "today". The days are all lined up incorrectly as well. It says that January 1st is a Sunday.

[2016-04-24 10:52] mmick66 commented on #1
It is actively maintained... I will look into it tomorrow...

[2016-04-24 14:08] clrvynt commented on #1
Hi @mmick66

Thanks! I was able to work past the issue -- it was basically happening because of the GMT Calendar .. I'm in the Eastern timezone in the US and this was causing a weird offset .

Changing the GMT calendar to use NSCalendar.currentCalendar fixed the issue.

You can reproduce the issue by changing your computers' timezone to Eastern and also setting the time to late evening ( after 9pm

[2016-04-24 14:50] mmick66 commented on #1
Wow... Thanks... Do you think you could do a pull request so I can merge the code?

[2016-04-25 07:28] #1 closed

[2016-05-01 22:39] hamidgh opened #2 "Month label goes under the navigation bar"
Steps to reproduce:
1-In the current example of the project if you go to the storyboard and select the View Controller and put it under a navigation controller from Editor/Embed In/Navigation Controller. It adds navigation controller to the view but you will get a warning from CalendarView constraints. It wants to move down the view (Like bellow Screenshot).
![s1](https://cloud.githubusercontent.c

[2016-05-09 07:35] mmick66 commented on #2
This is a navigation controller issue, not a calendar issue. It is solved here : http://stackoverflow.com/questions/18789225/ios-7-uinavigationbar-uiview-layout-issue

[2016-05-09 07:35] #2 closed

[2016-05-16 18:48] aldertc opened #3 "Starting month display"
Not really an issue but a request for having an option to select the calendar display start month. So currently I have it in my app with 6 months history but at the moment the calendar starts by displaying the very first month when I would rather have it always start with the current month and then I can choose to page back 6 months.

Is this something you could easily add to your code or have a s

[2016-05-20 11:00] mmick66 commented on #3
Did you try?
`func setDisplayDate(date : NSDate, animated: Bool)`

[2016-05-20 17:32] aldertc commented on #3
How do I access that function as its not in any of the code?

[2016-05-23 15:49] mmick66 commented on #3
It is used in the example when setting the date picker at the bottom, look at the ViewController.swift
[code]

[2016-05-23 15:49] #3 closed

[2016-05-24 14:51] aldertc commented on #3
Thanks - turns out I had an older version downloaded which didn't have that functionality. Since updating I found the func and it's working a treat.

Thanks ever so much for your help - really appreciate it.

[2016-05-24 15:21] mmick66 commented on #3
No worries

[2016-09-25 01:29] hamidgh opened #4 "Swift 3 build errors"
There are a lot of errors when I compiled with swift 3 and Xcode 8.0

[2016-09-29 05:10] cesarmtz93 opened #5 "Selection"
Is there a way to select the selection type ex. to be a single date selection or just as it is multiple.

[2016-09-29 16:52] cesarmtz93 opened #6 "calculateDateBasedOnScrollViewPosition"
In your function calculateDateBasedOnScrollViewPosition once you set it up as Vertical it won´t update the headerView.monthLabel.text because you have it set up like
        var page : Int = Int(floor(self.calendarView.contentOffset.x / cvbounds.size.width))

so in order for it to work once it's set up vertically it should be

[code]

[2016-10-01 18:12] #5 closed

[2016-10-06 10:19] RNUK opened #7 "Incorrect Date selected?"
I have implemented the code provided and there seems to be a mismatch between the dates on the calendar and the dates selected?

The following code:

[code]

returns the following to the console when 4th July is selected?

**We have an event starting at 2016-10-09 20:25:00 +0000 : Raiders vs Chargers (Week 5)
Did Select: 2016-07-04 00:00:00 +0000 with Events: 1**

I guess that the events array is

[2016-10-13 06:05] mmick66 commented on #4
Should be fixed now.

[2016-10-13 06:05] #4 closed

[2016-10-24 18:13] hamidgh commented on #7
I got the same issue. I select a date like 10/06/2016 but it returns the value of yesterday 10/05/2016

[2016-10-24 18:15] hamidgh commented on #4
Thanks a lot. No build error at all :)

[2016-11-09 21:20] JeKomme opened #8 "Initial date issue"
when i change the start date, the initial view change also, like it shows 2015 instead of the current year

[2016-11-10 09:15] mmick66 commented on #8
Thank you, can you please be more specific? Do you change the start date dynamically? (i.e. after the initial loading and during the running of your app). Can you please specify the dates so I can recreate it? ex. "I start with today's date and then I change it to a month ago and then this and that happens".

Thank you!

[2016-11-10 10:09] mmick66 commented on #7
I created a custom calendar event type that is created after accounting for the time difference that was due to timezones.

[2016-11-10 10:50] #6 closed

[2016-11-10 10:51] mmick66 commented on #6
Many thanks my friend!

[2016-11-10 15:26] JeKomme commented on #8
okay, that's how i implement the startDate:

    func startDate() -> NSDate? {
        let dateComponents = NSDateComponents()

        dateComponents.year = -1 // To be able to scroll to 1 year in the past "to 2015"

        let today = NSDate()
        let theCurrentMonth = self.calendarView.calendar.dateByAddingComponents(dateComponents, toDate: today, options: NSCalendarOptions())

        ret

[2016-11-10 15:49] mmick66 commented on #8
That looks fine to me. What exactly is the problem? Can you please specify the steps you took to reproduce it?

[2016-11-10 16:02] JeKomme commented on #8
Just run it, and u'll find the calendar opens with November 2015 instead of November 2016.. it's supposed to open with today's date and 2016 not 2015, u got me ?

[2016-11-10 16:04] mmick66 commented on #8
Well, you are setting it to start on November 2015:

`dateComponents.year = -1`

What you want is to be able to scroll to November 2015, but actually display today's date (November 2016). In this case use the code snippet I just pasted above. It should do your job.

[2016-11-10 16:17] JeKomme commented on #8
Great, two more quick questions:
1- what is this line for ?
    self.datePicker.setDate(date, animated: false)
2- Still shows up with November 2015, but when i scroll to any direction for at least once and scroll back it shows the right date November 2016

[2016-11-10 16:21] mmick66 commented on #8
1. The date picker component is independent of the calendar, and chances are you are not going to use one. There is no connection between the calendar and that, it is just for show and so needs to be updated separately.
2. Did you put the code in the right place? I just pushed a new change in the repo which should do just that, so please checkout again and test.

[2016-11-10 16:26] JeKomme commented on #8
1-yes i see)
2-Yes, and it works just fine and it outputs to the console the right date when i select one, the only problem is the header, it shows at the beginning November 2015 , then after one scroll to any direction, it changes to November 2016

[2016-11-10 16:35] #8 closed

[2016-11-10 16:37] mmick66 commented on #8
Check it now... I believe I fixed it.

[2016-11-10 16:40] JeKomme commented on #8
Awesome! thank u i'll check it out again and hopefully it works, again thank u:)

[2016-11-16 14:21] hamidgh commented on #7
Unfortunately it's not fixed yet. I still has the issue when I select a date, it returns a day before the date that I selected.

[2016-11-16 15:14] mmick66 commented on #7
Did you checkout the latest code? (sorry, I have to ask)... Please give me an example because it is not happening for me... Tell me your start and end date and which one you are selecting, and then paste the log like so:

You have an event starting at 2017-03-17 00:00:00 +0000 : Saint Patrick’s Day
Did Select: 2017-03-17 00:00:00 +0000 with Events: 1

It would also help if you could zip the projec

[2016-12-26 10:52] HPRaval opened #9 "Week view with events"
Hi Michael...first of all great tutorial. I have modified your code as per my requirement and works like a charm. Can you please help me to create week view control with the same. I want to list events as in default calendar app.

[2017-01-04 08:37] #7 closed

[2017-01-04 08:39] mmick66 commented on #9
Hello HPRaval, it seems that you are asking for a couple of days work from me haha. I think you need to try it out yourself and if you get anywhere you could fire a pull request and incorporate it. Good luck!

[2017-01-04 08:39] #9 closed

[2017-01-31 18:50] aldertc opened #10 "Retrieving Cell date within UICollectionView - Cell for item at index"
I would like to get the cell date from within the UICollectionView - cell for item at index path, as dependant on certain dates I want to do something. These are not events so this is why I am not flagging them that way. I simply have a list of dates which for those dates I wish to change the cell colour.

Changing the cell colour I can do but I am having trouble retrieving the date accurately.

W

[2017-02-19 19:22] Black-Colt opened #11 "RTL languages problems"
On RTL languages the calendar starts from the distance future.

[2017-03-07 08:24] mmick66 commented on #11
Can you please zip your project and sent it to me to have a look?

[2017-03-07 08:26] mmick66 commented on #10
So you want to retrieve an array of the type `[IndexPath]`, am I correct?

[2017-03-11 10:04] Black-Colt commented on #11
Yes, Where to send it to?

[2017-03-13 08:24] mmick66 commented on #11
Zip it and drag it here...

[2017-03-15 23:19] chaoxinzheng opened #12 "There is a small problem with the deselect delegate"
The bold text need to be included in the line to make sure that the de-selecting of the days return the right de-selected days. Otherwise, it always returns the last selected days.

   func collectionView(_ collectionView: UICollectionView, didDeselectItemAt indexPath: IndexPath) {

        guard let dateBeingSelectedByUser = dateBeingSelectedByUser else {
            return
        }

        gua

[2017-03-16 09:22] Black-Colt commented on #11
I found the problem.
If you change the development language to another language its behaving strange).
[test.zip](https://github.com/mmick66/CalendarView/files/847207/test.zip)

I made a test app for you to see (You can see that even the month above not showing until you scroll swipe the calendar.

[2017-03-20 06:38] #10 closed

[2017-03-20 12:51] JaviFrances opened #13 "The cells are undone when rotate phone"
The problem is when you turn the cell and turn it again, the cells are undone. The code is the original code in this github.

[2017-03-25 10:04] RohitJPatil opened #14 "Orientation Issue"
Why the position of the view is not changing?

I do everything with the view to change the position but it remains on the same stage.
Nothing is affecting on them

[2017-05-08 17:29] shajeeamaan opened #15 "Event View"
can you modify with by removing that date selection part and add a event view for particular selected date on there. ?

[2017-07-04 07:34] mmick66 commented on #15
This is not the way I designed it at first. If you want, please create a working version and do a pull request. I would be happy to review the changes.

[2017-07-04 07:34] #15 closed

[2017-07-04 07:43] mmick66 commented on #12
Thank you very much for this. The change has been incorporated.

[2017-07-04 07:43] #12 closed

[2017-07-04 17:08] caprahul opened #16 "Adding Next and Previous Month functionality results in garbled dates"
I tried to implement next and previous month functionality in my custom class **EventViewController** by adding the following function in **CalendarView** class

[code]

where I manually calculate the next and previous month dates in code using
Inside  **EventViewController**, I have following method to call method on calendarView

       func moveCalendar(byAdvance advance: CalendarMonthAdvanceTy

[2017-08-11 11:02] david2Coders commented on #16
The CalendarView has a method which will scroll to the given date
` self.calendarView.setDisplayDate(date, animated: true)
`

[2017-08-22 09:20] nagaraju85 opened #18 "Calendar is Crashing in IOS10"
Calender is working fine in ios9 it's showing the events also,
when I can run this code in Ios10  application is crashing
After this calling it's crashing

            newCalendar.source = sourcesInEventStore.filter{
                (source: EKSource) -> Bool in
                source.sourceType.rawValue == EKSourceType.local.rawValue
             }.first!

[2017-08-31 13:09] john685 opened #19 "chagne month name"
hello...ex
how to change "month name" to chinese or persian ?
and
how to change "day name" to chinese or persian ?

[2017-09-01 08:59] john685 commented on #19
i found it.

[2017-09-01 08:59] john685 commented on #19
i found it...

[2017-09-01 08:59] #19 closed

[2017-09-01 17:55] john685 opened #20 "change first day of week"
how to change first day of week?

[2017-09-03 05:23] john685 commented on #20
help me! please

[2017-09-04 05:22] john685 commented on #20
please help me!

[2017-09-10 13:21] john685 commented on #20
i found it.thanks.

[2017-09-10 13:21] #20 closed

[2017-10-18 22:54] brizzly opened #21 "Selected Date dissapear after page scrolling"
FYI -- Just fixed this issue by swapping lines here

    func selectDate(_ date : Date) {

        guard let indexPath = self.indexPathForDate(date) else {
            return
        }

// Put this one *BEFORE*
		self.calendarView.selectItem(at: indexPath, animated: false, scrollPosition: UICollectionViewScrollPosition())

        guard self.calendarView.indexPathsForSelectedItems?.contains(indexP

[2017-10-25 14:24] #13 closed

[2017-10-25 14:24] mmick66 commented on #14
I made a new commit on that.

[2017-10-25 14:24] #14 closed

[2017-10-25 14:25] mmick66 commented on #18
New commit with updated code.

[2017-10-25 14:25] #18 closed

[2017-10-25 14:34] mmick66 commented on #21
Done! Thanks!

[2017-10-25 14:34] #21 closed

[2017-10-25 14:34] #16 closed

[2017-10-25 22:39] brizzly opened #22 "month-1 does nothing sometimes"
There is an issue when you call previous month method, sometimes it does not go to the desired month-1.

Here is an ugly fix based on previous code..

	func setDisplayDate(_ date : Date, animated: Bool) {

		if let dispDate = self.displayDate {

			// skip is we are trying to set the same date
			if  date.compare(dispDate) == ComparisonResult.orderedSame {
				return
			}

			// check if the date

[2017-10-27 08:34] mmick66 commented on #22
I checked and I cannot reproduce the problem. Please let me know exactly which dates are you setting as start and end and I will try to replicate it on my side. Please check the latest code as I made some changes. And above all thank you for using my code.

[2017-11-02 09:29] brizzly commented on #22
I'm sure there is a bug lol. I have fixed into my code. Swip back is working but not when you call previousMonth method, you stuck 1 month after.

[2017-11-02 10:03] mmick66 commented on #22
Like I said above, can you let me know exactly which dates are you setting in your data source and I will try to replicate it on my side?

[2017-11-02 10:04] brizzly commented on #22
any date.. let say  :  25/10/17

[2017-11-02 10:10] mmick66 commented on #22
Can you please copy and paste the code from your delegate that returns the start **and** end?

[2017-11-03 08:46] mmick66 commented on #22
Can you please zip your project and drop it here so I can have a look?

[2017-11-07 11:49] minhhq221190 opened #25 "Select date cell in calendar return the wrong date"
Hi mmick66,
I just download your project 'Calendar View' and try to run your demo code. Your project is running well but when I try to click on any date cell in calendar, it return the wrong date.

Thank you.

[2017-11-07 12:04] mmick66 commented on #25
Let me have a look and I will come back to you within the day...

[2017-11-07 13:47] #25 closed

[2017-11-07 13:48] #22 closed

[2017-12-27 12:40] maksymhusar opened #27 "All your code have "internal" access. Can't use as pod library"

[2017-12-27 13:52] czater commented on #27
same here

[2017-12-28 07:12] hyouuu commented on #27
+1

[2018-01-08 12:54] mmick66 commented on #27
Hi, I am not familiar with this issue. Can you please elaborate? Pods is not my strong point.

[2018-01-08 15:36] maksymhusar commented on #27
Hi! You should set to all properties 'open' or 'public' access modifier for
using it as 3d part library. By default all what you have in .swift files
have 'internal' modifier.
Hope this short explanation will help.

2018-01-08 14:54 GMT+02:00 Michael Michailidis <notifications@github.com>:

[2018-01-08 16:00] #27 closed

[2018-01-08 16:01] mmick66 commented on #27
I edited the classes to be "open" and made the changes required to support that.

[2018-01-13 11:32] atticmanatee opened #28 "Calendar View not loading the endDate() month"
Let me just say I freaking love this library, thanks for it man!

Now, to the issue:
My App is loading an array of events from the Graph API, and I just want to show the calendar up to the month of the last event. So if the last event is on the 7th of March and we're in January, I want to have January, February and March showing up.

I come across this issue where the last month of calendar is not

[2018-01-15 09:38] #28 closed

[2018-01-15 09:38] mmick66 commented on #28
Thanks for discovering this bug. Please try and comment if something went wrong with the refactoring.

[2018-01-29 13:59] mobile-it opened #30 "Instance of new calendar and date selection"
Hi.

I have problem with multiselection..
I have button that navigates me to the next screen, the first instance of class works perfectly fine, but when dismiss View Controller and press button one more time, I can't deselect cell, when multi selection is enabled.

[2018-01-29 14:06] mobile-it commented on #30
The second instance of CalendarView is not entering didSelectItemAt.

[2018-01-29 14:54] mmick66 commented on #30
It sounds like a complicated scenario. Could I ask you to drop your project (or a simplified version of) here as a zip file? I will have a look.

[2018-02-09 08:15] #30 closed

[2018-02-16 07:17] pankti28 opened #31 "show full calendar"
its only showing calendar for 6 months . how can I change it to show all the months for all the years??

[2018-02-16 08:42] mmick66 commented on #31
Have you read the README? You control the delegates which return the beginning and end data.

[2018-02-17 15:50] #31 closed

[2018-03-01 19:26] stshelton opened #32 "Ability to select dates in range format"
Is there a way to select dates by range instead of either daily or multiple days? So if a user selected Monday to Friday all days in between would be selected too.

[2018-03-02 08:28] dekphoenix commented on #20
how can I change it?

[2018-03-06 11:57] rdaneshvar95 commented on #19
@john685 How did you do that?

[2018-03-08 08:20] mmick66 commented on #32
There is not provision for that currently. I was thinking about it though, so might do some work to add this.

[2018-03-14 09:56] Mitesh-Mewada opened #33 "Add Event"
How to  i set of array for set event ?

[2018-03-18 08:03] mmick66 commented on #33
Do you mean, how do you **_add_** an event? What has the array to do with it?

[2018-04-12 13:37] #11 closed

[2018-04-25 22:21] hyouuu opened #36 "Support for Sunday started weeks"
Hello! Some users mentioned that they are used to use calendars starting on Sunday - could we add an option to support that? Thanks!

[2018-04-27 17:53] hyouuu commented on #36
Awesome thanks! Enjoy your holiday!!

[2018-05-04 07:27] #36 closed

[2018-05-04 07:28] hyouuu commented on #36
Thanks so much!

[2018-05-15 16:54] kilirushi opened #37 "issues with pod"
I'm using pod 'KDCalendar', '~> 1.3.0'. But I can't call function anymore in my project.
Can you help me fix this?.

[2018-05-16 09:09] mmick66 commented on #37
This could be caused by methods not having been properly exposed as public. I pushed an update on CocoaPods, please check it out and let me know if it works.

[2018-05-18 09:05] #37 closed

[2018-05-22 00:35] haroldogtf commented on #32
The ability to select dates in range will be awesome!

[2018-05-22 23:44] haroldogtf commented on #32
@mmick66 Will this be included in the project? Do you have any deadlines?

[2018-05-23 07:46] mmick66 commented on #32
I'll see if I can work on it today.

[2018-05-23 13:48] haroldogtf commented on #32
@mmick66 Thanks a lot!

[2018-06-03 15:10] eitanaviv opened #38 "'setDisplayDate' is inaccessible due to 'internal' protection level"
Hi there,
I want to start using your calendar and i followed the instructions, but something seems to be wrong.
Not sure if it's me or not, but here's what i've done:
1. Added your library via Pod.
2. Added UIView to my storyboard as follows:
![screen shot 2018-06-03 at 18](https://user-images.githubusercontent.com/35567702/40887953-f53b857c-6758-11e8-828b-a97c5046e1be.png)
3. Entered the followin

[2018-06-18 09:21] RNUK commented on #38
Same issue accessing the calendar in startDate and endDate functions.

[2018-06-18 09:32] eitanaviv commented on #38
Hi @RNUK , thanks for your response.
I imported the library manually and fixed it, but what's the point if you have CocoaPods.
Thanks anyway!

[2018-06-18 11:50] RNUK opened #39 "Events from a web api?"
Is it possible to use a web api for a list of events rather than the device calendar?

[2018-06-20 13:43] mmick66 commented on #39
Not at the moment. If you ever add this, please do a pull request and I will review and accept it.

[2018-06-20 13:43] #39 closed

[2018-06-20 13:44] mmick66 commented on #38
I apologize for this. The truth is that I was never comfortable with CocoaPods. @RNUK : Can you please do a pull request with that change? Thank you...

[2018-06-21 13:54] #38 closed

[2018-06-29 02:03] Tobaloidee opened #40 "Logo Proposal"
Good day @mmick66  I am a graphic designer and an open source enthusiast  and i would like to contribute a logo design for your good project for free. If you will permit me, I will begin my design asap. Thanks and best regards! - Tobaloidee

[2018-06-29 07:57] mmick66 commented on #40
Well... Cant's say no to a free proposal!

Let me know when you finish and I will be sure to use it for my calendar.

Thank you...

[2018-06-29 07:59] Tobaloidee commented on #40
Yes Sir! will begin my design and post it here asap..thanks!

[2018-06-29 12:36] Tobaloidee commented on #40
here's what i came up with @mmick66  i hope you like it!! Still open for modifications and adjustments.

in 3 different color variation options

![pres-01](https://user-images.githubusercontent.com/36028424/42092592-031b86dc-7bdc-11e8-8355-74f137b71f1a.png)

[2018-06-30 09:28] mmick66 commented on #40
Looks good! I am sorry I did not tell you but the product name is Karmadust. CalendarView is only the repo name. I will change it for the title as well.

[2018-06-30 09:58] Tobaloidee commented on #40
Okay Sir..i will edit and make it karmadust..which color do you prefer?

[2018-06-30 11:15] Tobaloidee commented on #40
here Sir, or it's just "Karmadust" ?  and which color?

i'll maka a PR and upload the files once its final :)

![pres-01-01](https://user-images.githubusercontent.com/36028424/42124670-badb3c28-7c99-11e8-9afe-08db69a8d513.png)

[2018-06-30 11:16] mmick66 commented on #40
Just “Karmadust”... thank you!

[2018-06-30 11:18] Tobaloidee commented on #40
![pres-01-01-01](https://user-images.githubusercontent.com/36028424/42124693-52c7aae4-7c9a-11e8-9bb3-751030205d15.png)

which color will i upload Sir?

[2018-07-01 11:42] #40 closed

[2018-07-06 14:52] #33 closed

[2018-07-07 15:50] Omar-Kay commented on #32
I'd like to work on it.

[2018-07-07 21:33] mmick66 commented on #32
Great! @Omar-Kay. I recently implemented the ability to add new events. The trigger I selected is a long press, so I don't know how the user will be able to select ranges. Worst case we can find another way to add events.

Go ahead and I will check your pull requests. Thanks!

[2018-07-08 11:30] Omar-Kay commented on #32
Indeed I implemented on the version on cocoapods a successful version of this feature, controlled by new public bool `rangeSelectionEnable`, but I was stuck when trying to merge those changes with the latest on the branch. I can share with you the changed files, and you can try it out on the older version until I figure out how to make it work here.

Also, left a video of showing the pod modified

[2018-07-08 11:35] Omar-Kay commented on #32
Forgot I should probably tag you @mmick66 ! Let me know what you think.

[2018-07-08 11:52] Omar-Kay commented on #32
Nevermind! Got it to work on the main branch as well now! How do I initiate a merge request?

[2018-07-08 11:58] Omar-Kay commented on #32
<img width="598" alt="image" src="https://user-images.githubusercontent.com/40919248/42419527-faf49cbe-82b6-11e8-8452-566eff8c7800.png">
Ran into this issue while trying to push. Any suggestions @mmick66 ?

[2018-07-09 08:21] mmick66 commented on #32
Great. This is probably because you are trying to merge to the main branch directly. I suspect that you just cloned the project and worked from there. What you should do rather is a pull request. The way it's done is that you need to create a pull request.

To do that, **fork** the project (if you haven't already), include the changes in the forked repo, push them (it will be your repo so you shou

[2018-07-09 09:53] Omar-Kay commented on #32
Great, thanks for that! I've added a pull request

[2018-07-09 11:32] mmick66 commented on #32
@Omar-Kay: There are issues with your changes and I had to revert. Please check what happens when you select a range across months. Start from one month and finish in the next one for example. There is something wrong there. Also, another problem is when you select a range, deselect, and then try to select starting from the same date. In this case it does not select it.

[2018-07-13 06:41] Tobaloidee commented on #40
Hi @mmick66  I made variations and different file formats of your logo for future use and you can download it on the link below

[Ai-PNG-SVG](https://drive.google.com/drive/folders/1G9RWydnilb8qFcqfmugloguLIHuQ7yQx)

best regards!

[2018-08-06 06:07] Bikram786 opened #45 "Increase Height and Width of Cell"
Hello Sir,

Hope you are doing well!

1) Please help how I can increase the Height and Width of Cell.

2) I want to show the event of the current month below of date. Event means I want to show the description level.

Thanks

[2018-08-14 09:51] mmick66 commented on #45
Hello to you!

Both points are excellent and I will wait to merge a pull request with your implementation eagerly ;-)

[2018-08-14 09:51] #45 closed

[2018-08-15 10:17] aadjemonkeyrock opened #46 "Is there a way to add events without synchronizing with EKEventStore"
I've events in the data store and I don't want to ask for permission on the EventStore but still show them. Is there a way to do this?

[2018-08-15 21:41] aadjemonkeyrock commented on #46
@mmick66  Thank you. I figured out a good way of doing it by manually creating CalendarEvents and adding them to the calendar. In the example it worked fine, but not after installing the cocoapod. I had to make some components public for it to work. I send you a pull request with some changes.

[2018-08-16 07:30] mmick66 commented on #46
Hey, thanks!

[2018-08-21 08:31] aadjemonkeyrock commented on #46
@mmick66 It would be great if you can create a new release with a new podspec. So everyone using cocoapods gets the latest version.

Thx.

[2018-08-21 08:50] mmick66 commented on #46
Done!

[2018-08-21 08:50] #46 closed

[2018-09-04 15:25] philzeey opened #49 "Adding an event causes internal mix-up with date"
I'm not sure how exactly because I've debugged it all the way down to Eventsmanager.add function and the date stays correct all the way through. However, if you stop the program and go look at your iOS calendar the date is always a day before. Aka - I'll make an event for September 25th, but in the iOS calendar it shows September 24th at 6 - 7 PM.

So when I restart the application and calendarVie

[2018-09-04 16:48] philzeey commented on #49
Update:

So I ended up adding 9 hours to the didLongPressDate function and it 'fixed' it. Not really a fix though. Essentially what is happening is that it's not taking into account the timezone change. When you add a date using the didLongPressDate it automatically sets the date for example, startDate: 2018-09-27 00:00:00, endDate 2018-09-27 01:00:00. Which is fine but when it adds it to my Mount

[2018-09-05 09:15] mmick66 commented on #49
Thank you, I will look into it.

[2018-10-01 08:38] mmick66 commented on #49
Can you please check if it works now? Thanks!

[2018-10-01 10:30] iamir4g opened #51 "Use of undeclared type 'CalendarView'"
hi
I get this error "Use of undeclared type 'CalendarView " I clean project and rebuild a project.
<img width="262" alt="screen shot 1397-07-09 at 14 00 00" src="https://user-images.githubusercontent.com/10659860/46283782-535fae80-c582-11e8-8ba5-fa5f3424f085.png">
my class :
<img width="491" alt="screen shot 1397-07-09 at 14 01 53" src="https://user-images.githubusercontent.com/10659860/46283863-9

[2018-10-02 13:38] mmick66 commented on #51
What versions are you using? (iOS, Swift etc.)

[2018-10-04 06:29] iamir4g commented on #51
iOS 12 and swift 4

[2018-10-04 13:50] mmick66 commented on #51
Cool, so it was an installation problem... Can you please elaborate in what you mean Module Dropdown?

[2018-10-04 13:52] #49 closed

[2018-10-08 06:41] mmick66 commented on #51
Thank you so much!
On Sun, 7 Oct 2018 at 22:21, alexkitto <notifications@github.com> wrote:

[2018-10-08 07:14] #51 closed

[2018-10-08 09:18] alexkitto commented on #51
You're welcome :)

[2018-10-23 09:47] ilhammalik opened #52 "Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value"
error this line
calendarView.dataSource = sel
calendarView.delegate = self

[2018-10-25 06:42] mmick66 commented on #52
Is it happening consistently?

[2018-11-21 22:31] originalduffus opened #53 "Change text/cell color for past dates"
Is there a simple way to change text / cell colour for past dates?

[2018-11-23 11:09] umretiya opened #54 "Previous date change issue"
Hello,

today i have implemented CalendarView in Swift 4 & . it is working smoothly.here i have one issue that previous month is going for only 2 month from today as i am working on logs app. so i need to pick more than 2 month old date so can you can you tell me how to resolve this issue, will be good if it solved quickly or can you just give me hint how can i change **startDateCache** ?
Thank yo

[2018-12-02 16:39] mmick66 commented on #54
Don't do anything to the **startDateCache**, you need to implement the delegate like I have written in the readme file...

[2018-12-02 16:39] #54 closed

[2018-12-02 16:40] mmick66 commented on #53
Not at the moment. If you get around adding that, please do a pull request and I will include it... Hint: you should probably work on the cellForIndexPath of the CalendarView. That is where all the styling is applied.

[2018-12-02 16:40] #53 closed

[2018-12-04 06:06] umretiya commented on #54
Thank u so much Sir, got a great help..!!

[2018-12-12 07:14] Appswage opened #55 "Wrong date for "Today cell""
The default calendar highlights the current date in a red shade. However, the current date is not always correct, I believe because of time zone. In order to display the proper current date on the calendar itself, is there a method I am missing to provide this or should the library in this case get the current time zone in order to color the appropriate current date?

[2018-12-20 12:51] mohsinka commented on #10
@aldertc can you explain how you changed the color of the cells. I'd like to do the same for a certain set of dates all across the year. Any help is more than appreciated.

[2018-12-31 20:24] Appswage opened #58 "Cell Selected Colors not Hooked Up"
Neither cellSelectedTextColor or cellSelectedColor work. Searching the code and, outside of the definition for these variables, they are never used.

[2019-01-17 18:21] Appswage commented on #58
@mmick66 -  Thanks! Any news on this one or the "today" bug logged earlier last month? Appreciate it.

[2019-01-23 02:35] MilesV64 commented on #55
Seems like a more general issue than just the 'today' cell, programmatically selecting a cell based on date will also be wrong sometimes.

[2019-01-23 02:36] MilesV64 opened #59 "Programmatically selecting cells and scrolling to date don't work in viewDidLoad"
Calling calendarView.setDisplayDate and calendarView.selectDate in viewDidLoad, where I set up the calendarview itself doesn't do anything. Only works if I program in a delay. Am I doing something wrong, should those methods be put somewhere else?

[2019-01-23 23:42] MilesV64 commented on #58
`override open var isSelected : Bool {
        didSet {
            switch isSelected {
            case true:
                self.bgView.layer.borderColor = CalendarView.Style.cellSelectedBorderColor.cgColor
                self.bgView.layer.borderWidth = CalendarView.Style.cellSelectedBorderWidth
                self.bgView.backgroundColor = CalendarView.Style.cellSelectedColor

[2019-02-01 03:13] johnCbogil commented on #59
I'm experiencing the same problem

[2019-02-09 03:04] johnCbogil commented on #59
Hey @mmick66, do you have any advice for how to solve this issue?

I would like to be able to call `calendarView.selectDate` inside of `viewDidLoad` because when I call `selectDate` inside of `viewDidAppear`, the dates are deselected on alternating appearances.

Thanks for your help

[2019-02-10 02:39] MilesV64 commented on #59
It's something to do with the collectionview not populating yet, you could experiment with calling selectDate in viewDidLayoutSubviews, but you'd have to be careful about how multiple calls would affect it.

Looking through it, it seems the collectionview doesn't use a data source thats separate from the cells themselves to track states like selected, so everything is dependent on how the collecti

[2019-02-15 05:04] jeet-chanchawat opened #60 "Grey out non-selectable dates"
![greydates](https://user-images.githubusercontent.com/2392078/52835619-2cf37780-310d-11e9-9c4f-fffd42d64934.png)

Please add this feature based on the method "func calendar(_ calendar: CalendarView, canSelectDate date: Date) -> Bool "

[2019-02-15 05:08] jeet-chanchawat opened #61 "option to disable deselection of dates"
please add this enhancement.

     extension CalendarView: UICollectionViewDelegateFlowLayout {
        public func collectionView(_ collectionView: UICollectionView, didSelectItemAt indexPath: IndexPath) {

        guard let date = self.dateFromIndexPath(indexPath) else { return }

        if let index = selectedIndexPaths.index(of: indexPath) {

            delegate?.calendar(self, didDeselectDa

[2019-02-16 12:20] wacumov opened #63 "Can not use CalendarView installed via Carthage in a iOS8 project"

[2019-02-16 12:33] CaTimeX opened #65 "Change month name & weekday name"
How can I change the month name and the weekday short names  to another language??

[2019-02-18 19:27] #65 closed

[2019-02-22 14:32] #63 closed

[2019-02-22 16:27] #61 closed

[2019-03-01 16:12] #58 closed

[2019-03-08 14:31] felipedemetrius commented on #55
Fixed in https://github.com/mmick66/CalendarView/pull/70

[2019-03-13 18:05] #55 closed

[2019-03-17 14:47] IanLuo opened #73 "Selected background color doesn't work"
Seems the only place in the project found the variable `cellSelectedColor`, is in `Style` struct where it was defined.

[2019-04-05 10:22] evgenijromanishyn opened #76 "Localization issue"
Everything is perfect.
The name of the month is not correct in Russian. I can not change the title, this is a private method.
To display the title correctly, I recommend using something like this:

[code]

[2019-04-22 14:03] gotozainishaikh opened #77 "current month not open"

[2019-05-20 09:46] kavin06 opened #79 "highlight date"
In viewDidLoad() I need to show selected date is highlighted in calendar.Any help please.

[2019-05-24 16:06] kyonge opened #80 "When would you release next version?"
Hello, I'm using CalendarView with big appreciate.

The latest version is 1.6.5 now, and I guess there would be an update about locale in next version.
When would you update it?

[2019-07-12 11:47] gsoykan commented on #80
Still waiting for the next release with the locale. I suggest you would update your readme in case you are not updating the pod itself.

[2019-07-18 18:53] mmick66 commented on #80
I am back to work on this project (after a looong time away from it). Any advice would be helpful. Could you please tell me exactly what you mean with the locale? Forgive me but I need to look into my code like I would look into someone else's by now. Thanks!

[2019-08-06 05:57] CearsKhush commented on #60
Hey @jeet-chanchawat, Did you get any solution on this I want to do the same, Please Help!

[2019-08-06 06:21] CearsKhush opened #83 "How to validate date selection"
Hello, Thank you for this awesome library I am using this date picker but I need to disable some date and allow user to select date after particular date for example If today is 6 Aug the I want to allow user to select date after 2 days which means user cant select 7 and 8 Can any one please help me with this?

[2019-08-06 15:31] mmick66 commented on #60
I will fix this today. Do you mean that the dates that are before the `startDate` should be grayed out?

[2019-08-06 18:33] #60 closed

[2019-08-06 18:37] mmick66 commented on #73
Nope, it's in

[code]

[2019-08-06 18:38] #73 closed

[2019-08-06 19:50] mmick66 commented on #80
I just published pod version 1.7.2... Please let me know if you experience any problems by opening a new issue.

[2019-08-06 19:50] #80 closed

[2019-08-06 20:28] #79 closed

[2019-08-06 20:28] #77 closed

[2019-08-07 14:32] mmick66 commented on #83
I have recently added this ability. Have a look at the latest version and the [section on how to use it](https://github.com/mmick66/CalendarView#graying-out-days).

[2019-08-07 14:32] #83 closed

[2019-08-07 14:47] mmick66 commented on #76
This is provided for in:

[code]

If you implement the headerString method you can return a custom string according to the date passed.

[2019-08-07 14:47] #76 closed

[2019-08-07 14:49] mmick66 commented on #59
At the moment it's the way I've designed the calendar that makes it unable to catch the ViewController methods. My decision (for better or worst) was based on my initial idea to have a drag and drop component through Interface Builder, with minimal setup.

[2019-08-13 03:53] ojseven opened #84 "Calling goToNextMonth() sometimes shows the wrong month"
Calling goToNextMonth() sometimes shows the wrong month in header. This can be repeated by using it going from December 2019 to January 2020

[2019-08-13 09:54] mmick66 commented on #84
Can you please provide me with your `start` and `end` date so I could replicate?

[2019-08-13 12:52] ojseven commented on #84
Sure thanks mmick66, great library by the way.

`func setCalendarStyle(){
        CalendarView.Style.cellSelectedColor = MStyle.secondaryAccent
        CalendarView.Style.cellColorDefault = MStyle.secondaryBackground
        CalendarView.Style.cellBorderColor = .clear
        CalendarView.Style.cellSelectedBorderColor = .clear
        CalendarView.Style.cellSelectedTextColor = .white
        Calen

[2019-08-13 14:49] mmick66 commented on #84
If you think it’s worth adding. Do a pull request with the header bg code. On the other issue, I am currently away on holidays and I will get back on Thursday

[2019-08-13 15:26] ojseven commented on #84
Pull request added for the header background color option. Thanks!

[2019-08-14 08:57] mmick66 commented on #84
Merged. If the other problem persists, please open a new issue. Thanks!

[2019-08-14 08:57] #84 closed

[2019-09-10 15:29] birkyboydesign opened #88 "Event for all local calendars"
Hello I love your calendar and I implemented it in my app, however the dot that represent event display random events. I use eventkitUi to store my calendar event and use your calendar to display. Is there a way to display a dot whenever there is an event in any calendar
thank you

[2019-09-13 10:10] mmick66 commented on #88
Do you mean that the dot does not work?

[2019-09-14 12:08] arjun20 opened #89 "Can't access addEvent"
![Screenshot 2019-09-14 at 5 37 00 PM](https://user-images.githubusercontent.com/3456184/64907901-6f6a4a80-d716-11e9-927f-4ff2aa527a6a.png)

[2019-09-14 12:10] arjun20 commented on #89
Im Use Xcode Version 11.0 beta 3 (11M362v), and swift
I'm getting trouble to use addEvent functionality

[2019-09-15 11:08] MSawalha opened #90 "crash on setDisplayDate"
[code]
     is causing a crash

**Thread 1: EXC_BAD_ACCESS (code=2, address=0x1d00399c0)**

[2019-09-16 06:45] tendaimaswaya opened #91 "'selectedDates' not recognized"
`self.calendarView.selectedDates` not working with error:
**Value of type 'CalendarView?' has no member 'selectedDates'**

[2019-09-17 09:12] mobitechios opened #92 "multiple date"
In view did appear need to select multiple date in Calendar. Can you please help me?

[2019-09-17 09:23] mmick66 commented on #92
As I said in [issue 59](https://github.com/mmick66/CalendarView/issues/59), the design of this component is such that you do not get "viewDidLoad" notifications. The whole component was meant to be only a view (not a view controller) so it could be super simple drag & drop.

[2019-09-17 09:24] mmick66 commented on #90
Could you provide a complete crash log?

[2019-09-22 11:38] yinzixie opened #93 "CalendarView.Style.cellColorToday NOT work!"
Whatever i set, "today cell" only show the default color! (the text color is work)
![Screen Shot 2019-09-22 at 9 36 51 pm](https://user-images.githubusercontent.com/48106713/65386593-20a95a00-dd81-11e9-8383-75bcea25cc98.png)

![Screen Shot 2019-09-22 at 9 35 12 pm](https://user-images.githubusercontent.com/48106713/65386572-e049dc00-dd80-11e9-98dd-0b31003ac8ad.png)

I think this area override the

[2019-10-05 08:12] #93 closed

[2019-10-05 08:12] mmick66 commented on #93
I am sorry for the delay. Hope that helps you still...

[2019-10-05 08:17] mmick66 commented on #89
<img width="765" alt="Screenshot 2019-10-05 at 11 15 08" src="https://user-images.githubusercontent.com/342781/66252240-9dfda300-e761-11e9-9946-1bc18eebe91c.png">

I just saw that someone added this flag... some pull request I did not check properly. It's not a bad idea... but still, it might be the root of your problem. Please let me know...

[2019-10-05 08:18] mmick66 commented on #88
Please check issue #89

[2019-10-05 16:06] ezemartinezna opened #94 "Disable Selection of Weekend - Input day"
Hi mmick66, first of all thanks for this awesome calendar!
I need a help to know how to disable the selection of the weekend... For example Sundays and Monday for every month.
It is possible?
Sorry if not...
Thank you very much for your time.
Regards
Ezequiel.

[2019-10-06 07:16] mmick66 commented on #94
Yes... the calendar delegate has a method for that
[code]

[2019-10-06 07:16] #94 closed

[2019-10-06 07:33] mmick66 commented on #89
I have just added the appropriate [instructions](https://github.com/mmick66/CalendarView#events) in the README file. Apologies for not spotting it earlier. Enjoy.

[2019-10-06 07:33] #89 closed

[2019-10-06 13:16] mmick66 commented on #91
Please clean and rebuild!

[2019-10-06 13:16] #91 closed

[2019-10-14 08:33] #92 closed

[2019-10-23 05:46] kavin06 opened #96 "Need to set different colour for selected cell background"
Any one please give solution, In my project I need to set different background cell color for selected date.

[2019-10-25 16:52] Damith014 opened #97 "Event color"
How to add deference event color for events

[2019-10-27 08:26] mmick66 commented on #97
`style.cellEventColor = UIColor.orange`

[2019-10-27 08:26] #97 closed

[2019-10-30 07:20] mmick66 commented on #96
`style. cellSelectedColor = UIColor.red`

[2019-10-30 07:25] kavin06 commented on #96
func calendar(_ calendar: CalendarView, didSelectDate date: Date, withEvents events: [CalendarEvent]) {

// Here I need to change selected date cell color
}

Two cell is Yellow color another two cell is blue color like that I need to change.

[2019-10-30 07:45] mmick66 commented on #96
You need to set the style at the beginning, not dynamically... Do you actually mean that you want to have a different color for every cell selected?

[2019-10-30 08:27] kavin06 commented on #96
Yes, Need different color for every cell selected.

[2019-10-30 09:02] mmick66 commented on #96
I am sorry but you can't do that with the currect code base, it's really something I never though about...

[2019-10-30 09:02] #96 closed

[2019-11-21 16:48] jfbomber opened #99 "Issue with firstWeekday. The header is not updating."
For the CalendarView when I set the first day of the week variable to Sunday it is updating the calendar days correctly but not the header at the top.

[code]

![Simulator Screen Shot - iPhone 11 - 2019-11-21 at 08 38 04](https://user-images.githubusercontent.com/1092988/69358351-8f991700-0c3b-11ea-9c6c-40a49be2dfa5.png)

[2019-11-27 10:19] mink-lparrouy opened #100 "The dots are not displayed on the right day"
Hi there,

I used your library to display the logs of my user in a calendar/ I am facing an issue, it seems that the dots are displayed a day after the right day.

![Simulator Screen Shot - iPhone 11 - 2019-11-27 at 11 12 17](https://user-images.githubusercontent.com/22906662/69714912-9f1ad300-1107-11ea-97fd-b73d06d6414e.png)

As you see, I have 4 logs in November : 21, 22, 25 and 26 but the dots

[2019-12-06 12:17] ivrylobs opened #101 "Cannot access selectedDates"
Error said it's internal var ? But actually it could be access as public right ?
Need help!!!

[2019-12-10 13:49] mmick66 commented on #100
Sorry for the late reply. I checked the project and the dates seem to be displaying fine on my side. Have you resolved it? Is it part of your function rather than the calendar?

[2019-12-10 13:53] mmick66 commented on #101
Did you install via Coco pods?

[2019-12-10 13:58] ivrylobs commented on #101
Yes, i did .
It's work now , i have unlocked the CalendarView file and change its declaration of the variable from internal to public.

[2019-12-10 14:00] ivrylobs commented on #101
But still don't know why internal var is its declaration at first to access it it'd be public right?

[2019-12-10 14:37] mmick66 commented on #101
I just updated the Pod to 1.8.3. Please check this one and let me know. Failing this, please install the calendar manually, which is simply by dragging the folder to your project. Let me know how it went.

[2019-12-10 16:16] ivrylobs commented on #101
It's work perfectly now thank you sir

[2019-12-10 17:32] #101 closed

[2019-12-12 09:11] azeemgujjar commented on #99
Hi i am facing the same issue, did you get solution? or fix for this bug?

[2019-12-12 09:16] mudassarahmad09 commented on #99
I'm experiencing the same problem.  @mmick66, do you have any advice for how to solve this issue?

[2019-12-12 09:26] mmick66 commented on #99
I’m going to have a look.

[2019-12-12 09:45] azeemgujjar commented on #99
Awesome, will be thankful if you can fix issue or suggest some hack quickly..

[2019-12-12 17:46] jfbomber commented on #99
It seems like it had to do with the MomentSwift library. I found some people talk about how they had duplicate days with that.

[2019-12-20 07:07] azeemgujjar commented on #99
Hi @mmick66  any update with this issue? when are you going to fix this bug

[2019-12-20 07:41] mmick66 commented on #99
Today, I promise!

[2019-12-20 08:06] azeemgujjar commented on #99
Actually this is very embarrassing i used your library and already demonstrate to client, now can't even remove your library and use native calendar.. and this is around 30 days old issue. and still not fixed.

[2019-12-20 08:06] azeemgujjar commented on #99
lets see

[2019-12-20 08:26] mmick66 commented on #99
<img width="282" alt="Screenshot 2019-12-20 at 10 25 32" src="https://user-images.githubusercontent.com/342781/71240992-262c2700-2313-11ea-8cc9-5b8306a2d1f6.png">
 Have a look above. I can't really seem to be able to reproduce it. Could it be a version thing? How are you installing it?

[2019-12-20 08:36] azeemgujjar commented on #99
change header to starting to sunday
then when calendar open first time it will show wrong dates order.

[2019-12-20 08:52] mmick66 commented on #99
<img width="282" alt="Screenshot 2019-12-20 at 10 51 41" src="https://user-images.githubusercontent.com/342781/71242486-c2a3f880-2316-11ea-914a-3aff05f4eafa.png">
This is what I'm seeing...

[2019-12-20 10:12] mmick66 commented on #99
I am not suggesting you remove the component! I am asking whether you have the right version. I had merged some pull requests around the time you raised the issue. As you can see from above, I am not able to reproduce it. Can you please check you are on the latest version of the component?

[2019-12-20 11:02] azeemgujjar commented on #99
KDCalendar 1.8.3
install by pod

- To produce just change starting day to .Sunday
- when calender first time open it will show selected date to yesterday.
- next time it will work normally.
- to reproduce exit application and repeat

[2019-12-20 11:34] azeemgujjar commented on #99
Ok Thank you so much i am just going to try this

[2019-12-20 12:23] mmick66 commented on #99
Please let me know. I really want to get to the bottom of this.

[2019-12-22 17:50] #59 closed

[2019-12-22 17:55] mmick66 commented on #99
I cannot seem to reproduce. Could you please zip your project and send it here? I will have a look...

[2019-12-26 09:29] azeemgujjar commented on #99
Hi @mmick66 ,
I apologize for late response, these days i was actually trying to reproduce that bug on my side but till now its working fine. i was removed previous version of library and use your latest commit.

Thank you so much for follow-up i will keep in touch with you and update you if any issue i found.

[2019-12-27 16:02] mmick66 commented on #99
No problem... I'm glad it got resolved.

[2019-12-27 16:02] #99 closed

[2019-12-30 08:13] #88 closed

[2020-01-02 01:17] thejarlid opened #104 "Date is incorrect"
the current date based on the user's locale is incorrect beginning with the new year. When giving the current date in GMT format in the data source StartDate method, the date selected on the calendar is incorrect instead selecting the date for GMT time.

[2020-01-02 07:01] ahmetsina commented on #90
@MSawalha I got same issue but I realized that I didn't set KDCalendar as Module in Interface Builder -> Identity Inspector -> Custom Class. I fixed my issue like this way.

[2020-01-02 07:52] mmick66 commented on #90
Ok, that is great. Could you please tell me exactly how you fixed it so I can amend the README? First, did you install it via Pods or manually? Then, what did have to set?

[2020-01-02 08:14] ahmetsina commented on #90
[As you mentioned in here](https://github.com/mmick66/CalendarView#setup) " If doing the latter, make sure that the Module is selected to be KDCalendar." You can add **"Otherwise it may cause a crash."**  after

[2020-01-02 08:34] mmick66 commented on #90
Ok, so I had mentioned it... pheww... ;-) Thank for commenting and using my library!

[2020-01-02 08:34] #90 closed

[2020-01-02 08:35] mmick66 commented on #104
I will have a look ASAP.

[2020-01-03 04:04] thejarlid commented on #104
A bit of debugging help, I'm able to replicate this in the demo app. I'm in PST and the date highlighted on the calendar is correct while GMT and PST are on the same day. The date returned from selecting a date is also off when this is the case.

For example it is currently Jan 2nd, 2020 20:01 PST, but the highlighted date on the calendar when start date returns Date() is Jan 3rd. If I select Jan

[2020-01-03 08:03] mmick66 commented on #104
Could you zip your project and send it here?

[2020-01-03 18:38] thejarlid commented on #104
Its not specific to my project in particular, I was able to reproduce it by cloning the repo and running the demo app provided

[2020-01-14 06:15] nassifbasheer opened #106 "Date Cell is missing when the end date is today"
Hi,

You have created an excellent library.

**I modified the style based on my requirement, set the end date as today, also updated the delegate method to allow dates between the start date and end date to be selectable.**
`func calendar(_ calendar: CalendarView, canSelectDate date: Date) -> Bool`

How ever if I tap any user selectable dates, some fields dates go missing. For example , if the sta

[2020-01-15 12:46] mmick66 commented on #106
Thank you for your comment. What do you mean that the dates go missing?

[2020-01-15 13:49] #104 closed

[2020-01-15 13:51] mmick66 commented on #104
Sorry for such a late reply. I have pushed a change. My rational is that the only thing needed to change is what is shown as "today," as countries in zones other than UTC would cross over to the next day in different UTC-relative times. Please let me know if that works for you and feel free to reopen the issue.

[2020-01-15 14:24] nassifbasheer commented on #106
can you please run the project added as zip file.

[2020-01-16 09:02] nassifbasheer commented on #106
If you see the image attached date 29 is missing.

![Screenshot 2020-01-16 at 2 30 13 PM](https://user-images.githubusercontent.com/5028245/72509152-f2d6ac80-386c-11ea-98bf-9890669e5f07.png)

[2020-01-16 13:13] mmick66 commented on #106
I did check it. It must be a styling thing. It does not do it in the default project. Are you using the latest version?

[2020-01-16 14:02] nassifbasheer commented on #106
Hi,

Yes, I downloaded this project last week. Hope that's the latest version.

On Thu, Jan 16, 2020, 6:43 PM Michael Michailidis <notifications@github.com>
wrote:

[2020-01-16 14:10] mmick66 commented on #106
It is definitely a styling thing. I will investigate some more if I have the time.

[2020-01-18 13:44] kilirushi opened #107 "Crash app when create Calendar"
![Screen Shot 2020-01-18 at 20 41 07](https://user-images.githubusercontent.com/17327812/72664682-367b1300-3a33-11ea-81b0-9d900560907d.png)

[2020-01-18 14:21] kilirushi commented on #107
I think I should change it to: TimeZone(secondsFromGMT: TimeZone.current.secondsFromGMT())

[2020-01-20 09:38] mmick66 commented on #107
Wow... I changed that very recently. Can you please do one of the following (or even both).
1. Send me a zip of your project.
2. Tell me if you fixed it and how...

[2020-01-20 09:48] #107 closed

[2020-01-21 05:06] shahedhossain opened #108 "KDCalendar not compatible for SwiftUI"
`MyCalendar` structure for getting support in `SwiftUI` as following:

[code]
It's shows only the week name and other parts of this calendar omitted from view and following errors occurred:

[code]
Please find the details in [StackOverflow](https://stackoverflow.com/questions/59834349)

[2020-01-21 08:05] nassifbasheer commented on #106
Hi Michael,

Did you get a chance to investigate.

On Thu, Jan 16, 2020 at 7:40 PM Michael Michailidis <
notifications@github.com> wrote:

--
Thanks,
Nassif Basheer

[2020-01-21 08:56] mmick66 commented on #106
I could not find anything. The project we have now works off the bat, but something with the styling that you add it makes the cell disappear.... I will try and look as to why, but for the moment, please add
[code]
at the end of viewDidAppear. It worked on my machine.

[2020-01-21 09:02] nassifbasheer commented on #106
ok, I shall check that. however this happens after selecting a date

On Tue, Jan 21, 2020 at 2:26 PM Michael Michailidis <
notifications@github.com> wrote:

--
Thanks,
Nassif Basheer

[2020-01-21 09:21] mmick66 commented on #108
I have not built it for SwiftUI, that is true. If however you would like to add this support and do a Pull Request I would be forever grateful ;-)

[2020-01-22 10:12] nassifbasheer commented on #106
Hi,

So I downloaded the code from the master branch and re run the code , with no changes in style.

The start date is one month back from the current date. As of today it is Jan 22, 2020. How ever when I run the project, December 1st and Dec 14 is selectable and the selection goes random. if you see the image attached Dec 1 is highlighted and also after clicking Dec 1 , and hitting Dec 23 , Dec

[2020-01-22 10:15] nassifbasheer commented on #106
Hi,

Can you please verify the video attached. This is exact example project
with no code change, Dec 1st and Dec 14 is selectable when the start date
is one month back as on Jan 22, 2020.

On Tue, Jan 21, 2020 at 2:50 PM Michael Michailidis <
notifications@github.com> wrote:

--
Thanks,
Nassif Basheer

[2020-01-29 17:33] zeeshanz opened #109 "headerString(_ date: Date) offsets month by -1"
Calls to ```self.calendarView.goToPreviousMonth()```, ```self.calendarView.goToNextMonth()``` and ```self.calendarView.setDisplayDate(Date(), animated: true)``` calls protocol ```func headerString(_ date: Date) -> String?``` twice and offsets the month by -1 every time, meaning the month is offset twice to -2.

The sample code you provide is using an older version of KDCalendar which works fine an

[2020-01-30 10:46] fury21 opened #110 "Own calendar events"
Hello!
Thanks for this framework.
How can I add my own events without using the ios native calendar?

[2020-01-30 15:19] mmick66 commented on #110
Does the long press not do it?

[2020-02-05 06:15] Morning-Yann opened #111 "Why only one calendar year?"
Now it is 2020, open the demo is 2020, and then I want to check the calendar of 2019, it will not open, how to solve this?

[2020-02-05 06:21] Morning-Yann commented on #111
Sorry, I see the start and end dates

[2020-02-05 15:01] stan96D opened #112 "Strange style behavior on first init"
When I init a CalendarView for the first time through storyboard and set the attributes for the CalendarView, some attributes aren't correctly shown. These attributes are the style.headerBackgroundColor, style.weekDaysBackgroundColor and style.locale. Once I close the ViewController including the CalendarView and reopen the ViewController, the right attributes are shown. Other attributes like styl

[2020-02-06 16:23] kilirushi commented on #106
I also had the same problem.It seems setColorOutOfRange is not right.

[2020-02-07 10:10] #111 closed

[2020-02-07 11:15] Morning-Yann opened #113 "How to layout with constraints"
I tried to give the constraint directly but it didn't show

[2020-02-11 15:50] mmick66 commented on #113
This is not something I have built in. If you want to try and implement it, I will definitely be looking at pull requests.

[2020-02-11 15:50] #113 closed

[2020-02-19 09:58] raphaelwach opened #114 "Unable to use default implementation of protocols"
Hi,

I think that you have to make public the extensions of CalendarViewDataSource and CalendarViewDelegate in CalendarView.swift or we can't use the default implementations and implementing all of the methods is mandatory.

Cheers,

Raphaël

[2020-02-21 09:16] VincentLees opened #115 "How i add an event"
I wanted to add event to KDCalendar without adding event to device calendar.
Is there any way to do this

[2020-02-24 01:54] thejarlid commented on #104
Hey, I don't believe this fixed the issue. The date returned when a date is selected is in UTC however, the user interacting with the calendar is interacting with the presented calendar in their current locale. So from their perspective they click on the date they want however the date returned from the method is not the date they want. I am experiencing this in PST. If I select Feb 26th on the ca

[2020-03-11 11:02] devlove1C opened #116 "Always giving the error when trying to install by pod"
Unknown class CalendarView in Interface Builder file.

[2020-03-19 12:41] pcvillareal opened #117 "Cell Font"
My code is:

style.cellFont = UIFont(name: "Gilroy-Light", size: 11.0)!
style.headerFont = UIFont(name: "Gilroy-Light", size: 15.0)!
style.weekdaysFont = UIFont(name: "Gilroy-Light", size: 15.0)!

The header and weekdays font were successfully changed but I can't seem to change the cell font.

<img width="366" alt="Screen Shot 2020-03-19 at 4 36 43 PM" src="https://user-images.githubusercontent.co

[2020-04-09 15:26] apaganuchi opened #118 "There is an issue when startDate and endDate are in the same month."
When startDate and endDate are in the same month the calendar will consider dates after the endDate as a valid range. Ex. If the dataSource sets Apr 09th as startDate and Apr 14th as endDate all April dates after Apr 14th are also considered valid dates.

I've already found the bug and fixed it. Will send a pull request right after.

[2020-04-15 09:06] #118 closed

[2020-04-22 14:29] salvaterra opened #120 "isToday text color issue *FIX*"
Fix suggestion for out of the range cells being colored:

    func updateTextColor() {
        if isSelected {
            self.textLabel.textColor = style.cellSelectedTextColor
        }
        /*else if isToday {
            self.textLabel.textColor = style.cellTextColorToday
            //print(self.textLabel.text!)
        }*/
        else if isOutOfRange {
            self.textLabel.textColo

[2020-05-02 05:18] suvov commented on #108
@shahedhossain It works with SwiftUI. The common problem is having keyboard on screen, when presenting UIViewRepresented view.

[2020-05-04 16:26] SusheelYadavAhex opened #122 "How can I show only Sunday dates.. Remaining dates should be disabled ."
I have a requirement where user have to select only Sunday dates for respective month .. remaining weekdays selection should be disabled and even dates should be grey out.

Could you please help me out with the customisation.

I am looking forward to it .

[2020-05-09 18:28] AmilaDiman commented on #117
I also had the same issue. Instead of creating a `Style` object i just assigned the styles to the `style` property of the `CalendarView`. It works fine then

[2020-05-12 04:42] shahedhossain commented on #108
Hello @suvov. Good day!
Actually we are stacked on it. It would be best if you share your code snippet to the community to resolve such issues.

[2020-05-12 04:55] suvov commented on #108
Hello @shahedhossain ! What I do is resign first responders (if any) before presenting the calendar.
It might look like this in code:

// Resign first responder, using UIKit (
`UIApplication.shared.sendAction(#selector(UIResponder.resignFirstResponder),
                                        to: nil, from: nil, for: nil)`

// Present view with calendar
`self.isCalendarPresented = true`

Might loo

[2020-05-15 09:50] AntonVoropaiev opened #126 "How can i disable scroll?"
Hello dear team!
I need to disable scroll by the user and scroll only programmatically using scrollToNextMonth() or scrollToPreviousMonth()

is it possible or not?

thanks a lot!

[2020-05-18 08:08] OudomSec opened #127 "Day disappear"
My calendar is **disappeared** when I scroll to **next/previous** months (sometimes it show sometime it disappear), what's wrong with it? Is it because of the way I set up or anything else? Please help me, thank you.
![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-05-18 at 15 07 47](https://user-images.githubusercontent.com/35184091/82189299-59520100-9919-11ea-817a-65293129e6e1.png)

[2020-05-29 17:12] TyJPhillips commented on #109
@zeeshanz did you find a fix for this? I'm dealing with a similar issue.

[2020-05-29 17:30] zeeshanz commented on #109
I have a hack for it. Let me find it and post it here in next few hours.

[2020-05-29 17:31] zeeshanz commented on #109
@TyJPhillips Not a fix, but I have a hack for it. Let me find it and post it here in next few hours.

[2020-05-29 23:17] zeeshanz commented on #109
@TyJPhillips Here is how I am doing it:

[code]
And the ```onlyMonth``` code is in an extension to the ```Date``` like this:

[code]

[2020-06-01 14:55] TyJPhillips commented on #109
@zeeshanz Thank you so much! I'll see if this helps with my issue!

[2020-06-10 08:56] 429329513wanting opened #128 "negative or zero item sizes are not supported in the flow layout"
xcode:11.5
swift:5

        self.calendarView = CalendarView()
        self.calendarView?.frame = CGRect(x: 0, y: HT_StatusBarAndNavigationBarHeight, width: KScreenWidth, height: 200)
        calendarView?.dataSource = self
        calendarView?.delegate =  self
        calendarView?.marksWeekends = true
        calendarView?.direction = .horizontal
        calendarView?.setDisplayDate(Date())

[2020-06-10 08:57] 429329513wanting commented on #128
//MARK: - calendarDelegate
    func startDate() -> Date {

        var dateComponents = DateComponents()
        dateComponents.month = -1

        let today = Date()

        let threeMonthsAgo = self.calendarView?.calendar.date(byAdding: dateComponents, to: today)!

        return threeMonthsAgo!
    }
    func endDate() -> Date {

      var dateComponents = DateComponents()

      dateComponent

[2020-07-15 08:27] shadyk opened #129 "Missing Purpose String"
Hello,

my app was rejected on appstore since it is missing the NSCalendarsUsageDescription. I believe it is has been set in this project. I am not using the events part and calendar access,  is there a way to pass this?

[2020-08-28 07:00] lygon55555 commented on #112
@stan96D Have you resolved the issue??

[2020-09-11 02:25] johnoutdoorsy opened #130 "calendarView.selectDate(Date()) displaying UTC time not Calendar.current"
I know inside calendarView.swift I can do something like this to fix it:
[code]

[2020-09-14 13:37] emans commented on #126
Hi did you try:

`calendarView.collectionView.isScrollEnabled = false`

?

[2020-09-18 11:09] mlucian opened #131 "End date not taken into account when only one month(one index)"
I have a particular case where I need to display only one month but with a much narrower start date -> end date.
For example: 15th of Sept to Today (18th of Sept).

With the implementation found in CocoaPods 1.8.9 cellOutOfRange is always ignoring the response from endIndexPath since we only have one section. The older implementation found in the initial xcodeproj example is working correctly sinc

[2020-10-29 06:51] durgapt commented on #90
@mmick66  First of all Thanks for this wonderful library. I am getting same crash while setting DisplayDate. Here I already setup Module to be KDCalendar.

Crash:
`0   libswiftFoundation.dylib      	0x00000001d59ed760 getEnumTagSinglePayload for PropertyListEncoder._Options + 8 (<compiler-generated>:0)
1   libswiftCore.dylib            	0x00000001ac68e478 initializeWithCopy for ClosedRange<>.Index

[2020-11-02 17:03] dindin44 commented on #115
Did you figure out if this was possible?

[2020-11-03 09:28] T0mi commented on #120
@salvaterra we were facing the same issue and this helped us, thanks!

[2020-11-14 12:31] yakoobs commented on #131
Hi @mmick66! You did a great job with this CalendarView. Are you going to take a look at the issue described above in the near future? This calendar is really nice and easy to use and customise. Kudos!

[2020-12-30 01:13] kilirushi opened #132 "Start date cannot be later than end date."
![Screen Shot 2020-12-30 at 08 12 28](https://user-images.githubusercontent.com/17327812/103323702-d5e3bb00-4a76-11eb-8c1b-37bbaa13d843.png)

[2021-01-10 21:19] bermanapps opened #133 "goToNextMonth() skips to two months ahead"
Hi,

I'm not sure why this is happening, but when I call **calendarView.goToNextMonth()**, it doesn't just go to the next month, it skips a month, and goes two months ahead. The same happens with goToPreviousMonth.

Why would this be?

Thanks

[2021-01-11 19:28] bermanapps commented on #133
My mistake, I was calling the method twice.

[2021-01-11 19:28] #133 closed

[2021-01-27 17:36] devajith commented on #129
Same issue here.

[2021-01-27 17:36] devajith commented on #129
Same issue.

[2021-02-28 08:32] shndrs opened #134 "Persian Calendar"
Hi there, in Persian calendar first day of the week is Saturday.
Can you inject this into your project?
Thanks

[2021-04-21 00:53] alshcompiler commented on #127
check this answer if you have the same issue
https://github.com/mmick66/CalendarView/issues/120

[2021-06-09 22:35] alshcompiler commented on #117
@AmilaDiman  well, this ruins other style attributes like firstWeekday

[2021-07-19 08:26] Mr-ismail opened #135 "Code initialization problem"
Version 1.9.8 is added to the view via initframe and the display is blank

    var calendarView = CalendarView(frame: CGRect(x: 20, y: 20, width: 400, height: 300))
     addSubview(calendarView)

[2021-08-11 02:32] salution opened #136 "can change background colour cell for specific date"
how this framework change specific background cell date

e.g. I want to change date 23 Aug 2021 cell background colour

(but not in event)

[2021-08-12 18:24] LilMoke opened #137 "Adding events..."
Hello,

Is there a way to add events that are not synched with the apple calendar?  I want to show only events from my app that is using the calendar.  I am displaying the list of events from my app below the calendar and I want the . to appear on the day indicating an event but not using the apple system calendar.

[2021-08-12 19:10] LilMoke commented on #137
I noticed I can set the events myself so I think I know how to do it.  I am closing the issue.

[2021-08-12 19:10] #137 closed

[2021-08-17 06:33] Cakston opened #138 "does not conform to protocol 'CalendarViewDataSource'"
does not conform to protocol 'CalendarViewDataSource'

[2021-08-24 09:19] ShankarSpringML opened #139 "failing while pod install"
Installing KDCalendar (1.8.9)

[!] Error installing KDCalendar
[!] /usr/bin/git clone https://github.com/mmick66/CalendarView.git /var/folders/_d/h20wwfcx12q4lf8c1t0gs6f40000gn/T/d20210824-4675-lz4291 --template= --single-branch --depth 1 --branch 1.8.9

Cloning into '/var/folders/_d/h20wwfcx12q4lf8c1t0gs6f40000gn/T/d20210824-4675-lz4291'...
fatal: unable to access 'https://github.com/mmick66/Cale

[2021-09-23 20:22] jfbomber opened #140 "With iOS 15 - the selected border and color don't seem to be working"
The selected color doesn't seem to be working in iOS 15.
`
        self.calendarView = CalendarView()
        self.calendarView.backgroundColor = UIColor.white
        self.calendarView.delegate = self
        self.calendarView.dataSource = self
        self.calendarView.direction = .horizontal
        self.calendarView.multipleSelectionEnable = false
        self.calendarView.setDisplayDate(Date(

[2021-09-27 08:40] jibrank commented on #140
i'am facing the same issue the style part of calendar is not working.

      let style = CalendarView.Style()

        style.cellShape                = .round
        style.cellColorDefault         = UIColor.clear
        style.cellTextColorDefault     = #colorLiteral(red: 0, green: 0, blue: 0, alpha: 1)

        style.cellColorToday           = #colorLiteral(red: 1, green: 1, blue: 1, alpha: 1)

[2021-10-19 05:08] nik6018 commented on #140
@jfbomber  Thanks for informing. @zkhCreator Can you please confirm if any more changes are needed to be included other than the commit mentioned in the above comment ?

[2021-11-16 11:35] khedheri commented on #140
@zkhCreator  seems like you correct the issue , but you forget to upgrade the s.version in "KDCalendar.podspec", so when users try to update pods, cocoapods can't recognise that a new version is available.
upgrade the version number "KDCalendar.podspec", then users can update the pod

[2021-12-15 03:44] zkhCreator commented on #140
@khedheri  you can use my repo's master branch, because of my repo is not the main repo of Calendar repo.If I update the podspec, it will influence the version of main repo

[2021-12-16 11:12] nik6018 commented on #140
@zkhCreator I tried by downloading your master branch but still I am not getting the result I want :(

If I wasn't clear I am trying to select the date programmatically using `calendarView.selectDate(_:)` method and want to display a border around the selected cell.

Selecting the dates by directly tapping on the Calendar View is working as expected, but in my case I only want to select the dates

[2022-01-16 20:03] lygon55555 commented on #140
@zkhCreator thank you so much for fixing the code👍

[2022-01-17 16:22] jibrank commented on #140
@zkhCreator  i used your code but few things are not working as it was working before
1. i can select out of range dates
2. Programatically dates cant be selected.

[2022-01-17 16:33] jibrank commented on #140
@nik6018 you can use this, it has same functionalities
https://github.com/WenchaoD/FSCalendar

[2022-02-03 11:11] chaitanyadeshp commented on #138
add this methord along with previous startDate and endDate
`func headerString(_ date: Date) -> String? {
        return "LOL"
    }`

[2022-02-11 07:09] prapawity commented on #140
iOS 15.3 issue was solved, but why, iOS 15.3 just security update

[2022-03-16 14:58] ismael9291 commented on #130
I am noticing the same thing, any updates towards this issue?

[2022-03-18 18:18] ismael9291 commented on #120
I am seeing this issue on 1.8.9

[2022-06-20 05:08] rakeshpalivela opened #142 "Multi date selection got a bug"
Hi, I have a scenario where the user can select multi dates(future dates) in the calendar and need to disable the selection of completed days. The issue I am facing is when I do select the future dates it is some how highlighting the previous dates (Completed one). I tried multiple ways but still no luck.

Can any one have fix for this?

Thanks in advance.